<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	</head>

<body class="unique">

<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1>Hivency</h1>
				</div>
				<ul class="nav nav-pills">
					<li>
						<a href="#"> Marque? </a>
					</li>
					<li>
						<a href="#"> Inscription </a>
					</li>
					<li>
						<a href="#"> Blog </a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	

	
	<div class="jumbotron">
		<div class="container">
			<div class="row">
					<h2>Premiere plateforme de shopping gratuit pour Instagrammers</h2>
					<p>Recois des produits et services regulierement</p>
			</div>
		</div>
	</div>



	<div class="subscribe">
		<div class="container">
			<a href="#" class="btn btn-default">
				<span>Je m'inscris</span>
			</a>
		</div> 
	</div>



	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>
						Tu es Instagrammer? Tu aimes partager ton univers avec tes abonnes? Hivency est fait pour toi.
					</p>
					<br></br>
					<p>
						Rejoins la communaute et recois des produits de nos marques partenaires gratuitement chez toi, en echange d'une simple photo. 
					</p>
					<br></br>
					<p>
						Tu pourras aussi beneficier des promotions exclusives et participer a nos evenements reserves a la communaute.
					</p>
				</div>
				<div class="col-md-4">
					<img src="">
				</div>
			</div>
		</div>
	</div>




	<div class="feature">
		<div class="container">
			<div class="row">
				<h1>Comment ca marche?</h1>	
				<div class="col-md-3">
					<div class="circle">1</div>
					<p><strong>
					Tu recois par mail des propositions de produits et services gratuits.
					</p></strong>
				</div>

				<div class="col-md-3">
					<div class="circle">2</div>
					<p><strong>
					Tu choisis ceux qui te plaisent et tu les recois chez toi.
					</p></strong>
				</div>

				<div class="col-md-3">
					<div class="circle">3</div>
					<p><strong>
					Tu fais une photo du produit, tu les partages avec tes followers.
					</p></strong>
				</div>

				<div class="col-md-3">
					<div class="circle">4</div>
					<p><strong>
					Le produit t'appartient.
					</p></strong>
				</div>
			</div>
		</div>
	</div>




	<div class="footer">
		<div class="container">
			<div class="row">
				<h1>Deja plus de 1000 Intagrammers internationaux a nos cotes</h1>
				<div class="col-md-4">
					<div class="circle"></div>
				</div>

				<div class="col-md-4">
					<div class="circle"><strong>?</strong></div>
				</div>

				<div class="col-md-4">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="question">
		<div class="container">
			<a href="#" class="btn btn-default">
				<span>Questions frequentes</span>
			</a>
		</div> 
	</div>




</body>
</html>
