@import "bootstrap";
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v9/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


html, body {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-size: 16px;
}

body {
	background: url("https://source.unsplash.com/xlbXz7wNd50/1600x900") no-repeat center center fixed;
  	background-size: cover;
}


.container {
	max-width: 940px;
	margin: 0 auto;
}




/*    Header    */
.nav {
	float: right;
	width: 370px;
	background-color: transparent;
}


.nav-pills li a {
	color: #004879;
	border: 1px solid #004879 ;
	text-align: center;
	width: 120px;
	top: 20px;
}


.nav-pills li.active a, 
.nav-pills li a:hoover, 
.section .btn:hoover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	color: #fff;
}



/*   Jumbotron   */

.jumbotron {
	position: relative; 
	top: 50px;
	/*text-shadow: 0 2px 3px rgba(0,0,0,.4);*/
  	background-color: transparent;
  	text-align: center;
}

.jumbotron h2 {
	color: #004879;
  	font-size: 60px;
  	/*text-shadow: 0 2px 3px rgba(0, 0, 0, .4);*/
}


.jumbotron p {
	padding: 10px 0 0 0;
	font-size: 30px;
	color: #fff;
}


.subscribe {
	position: relative;
	top: 30px;
	text-align: center;
	padding: 0 0 100px 0;
	font-size: 20px;
}

.subscribe span {
	font-size: 20px;
}


.btn-default {
	color: #fff;
	background: rgba(0, 72, 121, 1);
	border: none;
}

/*   Banner   */ 

.banner {
  	background-color: rgba(255, 255, 255, .8);
  	height: 250px; 
  	color: #004879;
  	border: 2px solid #004879;
  	font-size: 16px;
}


/*   Feature   */

.feature {
	margin-top: 40px;
	text-shadow: 0 2px 3px rgba(0,0,0,.4);

}



.feature .col-md-3 {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}


.feature h1 {
	text-align: center;
	color: #004879;
	padding-bottom: 90px;
}


.feature h2 {
	font-size: 16px;
}



.feature p {
	font-size: 16px;
	padding-right: 90px;
}



.circle {
	margin: 10px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-color: #fff;
	border: 2px solid #004879;
	text-align: center;
	line-height: 90px;
	color: #004879;
	font-size: 15px;
}


.footer {
  	background-color: rgba(255, 255, 255, .8);
  	height: 350px; 
  	color: #004879;
  	border: 2px solid #004879;
  	font-size: 16px;
}


.footer h1 {
	text-align: center;
	color: #004879;
	padding-bottom: 50px;
}


.footer .circle{
	margin: 10px;
	margin-left: 90px;
}



.question {
	position: relative;
	top: 30px;
	text-align: center;
	padding: 0 0 100px 0;
	font-size: 20px;
}



.question span {
	font-size: 20px;
}










